@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
  body {
    @apply bg-white font-sans text-slate-700 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
